@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";


/* Dark monochrome CSS color palette with off-white text */
/* We can modify this palette as we see fit tbh */

:root {
  --color-primary: #1a1a1a;
  --color-bg: #101010;
  --color-bg-soft: #161616;
  --color-surface: #1f1f1f;
  --color-border: #323232;
  --color-ink: #f2f2f0;
  --color-muted: #c9c9c6;
}

body {
  background-color: var(--color-bg);
  color: var(--color-ink);
  font-family: "Space Grotesk", sans-serif;
}
